<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>531269692179-n1r2u2afiav91n240latkde33b34s59g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.531269692179-n1r2u2afiav91n240latkde33b34s59g</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>531269692179-i040jk82knb3qf6gpqeisqiipks8gri7.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBAHsh0h1aq_hDOVuX93kiNZianV2xb99Q</string>
	<key>GCM_SENDER_ID</key>
	<string>531269692179</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.spe66Days</string>
	<key>PROJECT_ID</key>
	<string>days-10d7f</string>
	<key>STORAGE_BUCKET</key>
	<string>days-10d7f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:531269692179:ios:5136d52e22f0891a</string>
	<key>DATABASE_URL</key>
	<string>https://days-10d7f.firebaseio.com</string>
    <key>TRACKING_ID</key>
    <string>UA-XXXXXX-X</string>
</dict>
</plist>
