target/classes/.netbeans_automatic_build
target/test-classes/.netbeans_automatic_build

#Firebase API Keys
firebase-admin.json
target/classes/firebase-admin.json

.idea/

src/main/resources/application.properties
src/main/resources/application-prod.yml
src/main/resources/application-dev.yml

src/main/resources/application.yml
*.yml

*.properties
logs/spring.log
*.log
logs/spring.log.2019-04-08.0.gz
