[Unit]
Description=A Spring Boot application
After=syslog.target

[Service]
User=user-nkQ68o
ExecStart=/home/ubuntu/66-Days/target/66days-0.0.1-SNAPSHOT.jar SuccessExitStat$

[Install]
WantedBy=multi-user.target