<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head th:include="fragments/authorisedHeader :: head (title='Course Editor')">
        <title>66 Days</title>
        
    </head>

    <body>
        <link rel="stylesheet" type="text/css" href="/css/course-editor.css"></link>
            
        <div th:replace="fragments/authorisedHeader :: header">&nbsp;</div>
        
        <div class="container">
        
            <!-- TITLE -->
            <div style="padding-top: 1em;"></div>
            
            <h1 class="display-4">Course Editor</h1>
            <p style="padding-top:1em;" class="lead">Here you can edit the contents of the course week by week. Please click the "Save your changes" button after editing a week to update it, or alternatively click anywhere else on the site to discard your changes.</p>
            
            <div th:if="${param.weekChangedFromCreateHabit}">
                
                <div class ="row">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-8">
                        <div class="card text-white bg-warning" style="margin-top: 1.1em;">
                            <div class="card-body text-center">
                                <b>Careful! You've changed a week from Create Habit to something else. This might have knock on consequences for future weeks which try and update this habit. These weeks will have defaulted to being Just Description.</b>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-2"></div>
                </div>
                
                <div style="padding-top: 1.5em;"></div>
            </div>
            
            <div th:if="${param.identicalHabitName}">
                
                <div class ="row">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-8">
                        <div class="card text-white bg-warning" style="margin-top: 1.1em;">
                            <div class="card-body text-center">
                                <b>Careful! You've tried to create set a habit title with the same name as an already existing habit. "New" has been added to the start of the habit title so the app can distinguish them.</b>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-2"></div>
                </div>
                
                <div style="padding-top: 1.5em;"></div>
            </div>
            
            <div th:if="${param.updateSuccessful}">
                
                <div class ="row">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-8">
                        <div class="card text-white bg-success" style="margin-top: 1.1em;">
                            <div class="card-body text-center">
                                <b>You have successfully updated the week.</b>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-2"></div>
                </div>
                
                <div style="padding-top: 1.5em;"></div>
            </div>
            
            <span th:unless="${param.updateSuccessful}">
                <div style="padding-top: 1em;"></div>
            </span>
            
            <!-- CONTENT -->
            
            <div class="container">
                
                <!-- THE TAB NAVIGATION BAR -->
                
                <section>
                    <div class="row">
                        <div class="col-sm-2"></div>
                        <div class="col-sm-8">
                            <ul class="nav justify-content-center">
                                <li class="nav-item" th:each="week: ${courseWeekList}">
                                    <a class="nav-link text-success"
                                       th:text="${'Week '+week.getWeekNumberAsString()}" 
                                       th:href="${'/course-editor/' + week.getWeekNumber()}">
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-sm-2"></div>
                    </div>
                </section>
                
                <div style="padding-top: 2em;"></div>
                
                <!-- THE COURSE WEEK EDITOR FORM -->
                <section>
                    <div th:if="${courseWeek != null}">
                        
                        <h1 class="text-center" th:text="@{'Week ' + ${courseWeek.getWeekNumberAsString()}}" style="padding-bottom: 0.5em;"></h1>

                        <form th:action="@{'/course-editor/update-week/' + ${courseWeek.getWeekNumber()}}" th:object="${courseWeek}" th:method="PUT" enctype="multipart/form-data">

                            <!-- Why am I using name and id attributes instead of the th:field?
                            It doesn't let me set th:value if I set th:field, making for a much worse user experience.
                            https://stackoverflow.com/questions/31542032/how-to-add-default-values-to-input-fields-in-thymeleaf
                            -->
                            
                            <!-- Title of Course Week -->
                            <div class="form-group row">
                                <label for="weekTitle" class="col-sm-2 col-form-label"><b>Week Title</b></label>
                                <div class="col-sm-10">
                                    <input class="form-control" required 
                                           name="weekTitle"
                                           id="weekTitle"
                                           th:value="${courseWeek.getWeekTitle()}">
                                </div>
                            </div>

                            <!-- The type of the week: Either CREATE_NEW_HABIT, UPDATE_OLD_HABIT or JUST_DESCRIPTION -->
                            <!-- Requires more thymeleaf magic so that the right value is selected...
                            Magic is coming from Baeldung.
                            https://www.baeldung.com/spring-thymeleaf-conditionals 
                            <td th:text="${teacher.active} ? 'ACTIVE' : 'RETIRED'" /> -->
                            <div class="form-group row">
                                <label for="weekType" class="col-sm-2 col-form-label"><b>Week Type</b></label>
                                <div class="col-sm-10">
                                    <select class="form-control" id="weekType" name="weekType" required>
                                        <option value="CREATE_NEW_HABIT" 
                                                th:selected="${courseWeek.getWeekType()} == 'CREATE_NEW_HABIT' ? true : false">
                                            Create New Habit
                                        </option>
                                        <option value="UPDATE_OLD_HABIT"
                                                th:if="${courseWeek.getWeekNumber() > 1}"
                                                th:selected="${courseWeek.getWeekType()} == 'UPDATE_OLD_HABIT' ? true : false">
                                            Update Old Habit
                                        </option>
                                        <option value="JUST_DESCRIPTION"
                                                th:selected="${courseWeek.getWeekType()} == 'JUST_DESCRIPTION' ? true : false">
                                            Just Description
                                        </option>
                                    </select>
                                </div>
                            </div>

                            <!-- Description of Course Week -->
                            <div class="form-group row">
                                <label for="weekDescription" class="col-sm-2 col-form-label"><b>Description</b></label>
                                <div class="col-sm-10">
                                    <textarea class="form-control" rows="8"
                                              name="weekDescription"
                                              id="weekDescription"
                                              th:text="${courseWeek.getWeekDescription()}">
                                    </textarea>
                                </div>
                            </div>
                            
                            
                            <!-- Title of Habit. -->
                            <div class="form-group row" 
                                 id="enterTitleOfHabit"
                                 th:classappend="${courseWeek.getWeekType()} == 'CREATE_NEW_HABIT' ? showElement : hideElement">
                                <label for="habitTitle" class="col-sm-2 col-form-label"><b>Habit Name</b></label>
                                <div class="col-sm-10">
                                    <input class="form-control" required
                                           name="habitTitle"
                                           id="habitTitle"
                                           th:value="${courseWeek.getHabitTitle()}">
                                </div>
                            </div>
                            
                            <!-- Link to Previous Habit. -->
                            <!-- This HTML has to play nice with the JavaScript accordingly...
                             - If courseWeek.getWeekType() is UPDATE_OLD_HABIT, then display this section, and hide the previous.
                             - Any edits to this selection system must update the habit title input in the previous section.
                            -->
                            
                            <div class="form-group row" 
                                 id="linkToPreviousHabit"
                                 th:classappend="${courseWeek.getWeekType()} == 'UPDATE_OLD_HABIT' ? showElement : hideElement">
                                <label for="habitLinkList" class="col-sm-2 col-form-label"><b>Link to Previous Habit</b></label>
                                <div class="col-sm-10">
                                    <select class="form-control habitLinkListClass" id="habitLinkList" name="habitLinkList">
                                        <th:block th:each="otherWeek: ${courseWeekList}">
                                            <option th:value="${otherWeek.getHabitTitle()}"
                                                    th:text="${otherWeek.getHabitTitle()}"
                                                    th:if="${otherWeek.getWeekType() == 'CREATE_NEW_HABIT' and otherWeek.getWeekNumber() < courseWeek.getWeekNumber()}"
                                                    th:selected="${courseWeek.getHabitTitle() == otherWeek.getHabitTitle()} ? true : false">
                                                    Options
                                            </option>                                        
                                        </th:block>

                                    </select>
                                </div>
                            </div>
                            
                            
                            <!-- List of Experiments -->
                            <div class="form-group row" 
                                 id="listOfExperimentsSection"
                                 th:classappend="${courseWeek.getWeekType()} != 'JUST_DESCRIPTION' ? showElement : hideElement">
                                <label for="habitExperiments" class="col-sm-2 col-form-label"><b>Experiments</b></label>
                                <div class="col-sm-10">
                                    <textarea class="form-control" rows="8"
                                              name="habitExperiments"
                                              id="habitExperiments"
                                              th:text="${courseWeek.getHabitExperiments()}">
                                    </textarea>
                                </div>
                            </div>
                            
                            <!-- List of Environment Design -->
                            <div class="form-group row">
                                <label for="environmentDesign" class="col-sm-2 col-form-label"><b>Environment Design</b></label>
                                <div class="col-sm-10">
                                    <textarea class="form-control" rows="8"
                                              name="environmentDesign"
                                              id="environmentDesign"
                                              th:text="${courseWeek.getEnvironmentDesign()}">
                                    </textarea>
                                </div>
                            </div>

                            <div class="text-center">
                                <button class="btn  btn-success btn-lg text-white" type="submit">Save your changes</button>
                            </div>
                        </form>

                    </div>
                    </th:block>
                    
                </section>
                
            </div>
            <!-- End of course content sub-container. -->
            
        </div>
        <!-- End of webpage container. -->
        
    <div th:replace="fragments/footer :: footer">&nbsp;</div>
        
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/js/course-editor.js"></script>
    
    </body>
</html>
