<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head th:include="fragments/authorisedHeader :: head (title='Whitelist')">
        <title>66 Days</title>
    </head>

<body>
    <div th:replace="fragments/authorisedHeader :: header">&nbsp;</div>
    <div class="container">
        
        <div style="padding-top: 1em;"></div>
        
        <h1 class="display-4">Email Whitelist Service</h1>
        <p style="padding-top:1em;" class="lead">These are the email addresses of users who can access the mobile app.</p>
        
        <div style="padding-top: 2em;"></div>
        
        <div class="container">
            <div class="row">
                <div class="col-sm-2"></div>
                <div class="col-sm-8">
                    
                    <form method="POST" enctype="multipart/form-data" th:action="${'/whitelist/add-email'}">
                        <div class="form-group">
                            <label for="emailInput"><b>Add an email address to the whitelist.</b></label>
                            <input class="form-control" name="email" th:value="${email}" id="emailInput" placeholder="Enter email here.">
                        </div>
                        <div class="text-center">
                            <button class="btn btn-outline-success" type="submit">Submit</button>
                        </div>
                    </form>
                    
                    <div style="padding-top:2em;"></div>
                    
                    <ul class="list-group" id="emailAddressList">
                        <li class="list-group-item" th:each="whitelistMember: ${whitelistMembers}">
                            <form method="POST" enctype="multipart/form-data" th:action="${'/whitelist/delete-email?email=' + whitelistMember.getEmail()}">
                                <p th:text="${whitelistMember.getEmail()}" style="display: inline">defaultEmailAddress@gmail.com</p>
                                <button class="btn btn-small btn-danger float-right" type="submit">Delete</button>
                            </form>
                        </li>
                    </ul>
                    
                    
                </div>
                <div class="col-sm-2"></div>
            </div>
        </div>
    </div>
    
    <div th:replace="fragments/footer :: footer">&nbsp;</div>
</body>
</html>